{% extends 'bootstrap/base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macro.html' as macros %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>{% block title %}TODO LIST |{% endblock %}</title>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html'%}
    {% endblock %}
    {% for message in get_flashed_messages() %}
        <div class = 'alert alert-success alert-dismissible'>
            <button type="button" data-dismiss='alert' class='close'>&times;</button>
            {{message}}
        </div>
    {% endfor %}
    <div class='container' id='formulario'>
        {% block content %}
            {% if username %}
                <h1>Bienvenido {{username | capitalize}}</h1>
            {% endif %}
        {% endblock %}

        <section class="form">
            {{ wtf.quick_form(todo_form) }}
        </section>

        <ul class="list-group">
            {% for todo in todos %}
                {{ macros.render_todo(todo, delete_form, update_form) }}
            {% endfor %}
        </ul>
    </div>
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock%}