{% extends 'bootstrap/base.html'%}
{% import 'macro.html' as macros %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>{% block title %}TODO LIST |{% endblock %}</title>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html'%}
    {% endblock %}
    {% for message in get_flashed_messages() %}
        <div class = 'alert alert-success alert-dismissible'>
            <button type="button" data-dismiss='alert' class='close'>&times;</button>
            {{message}}
        </div>
    {% endfor %}
    {% block content %}
        {% if username %}
            <h1>Bienvenido {{username}}</h1>
        {% endif %}
    {% endblock %}
    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>
    {% block scripts %}
        {{super()}}
    {% endblock %}
{% endblock%}